@import '_colors';
@import 'teamList';
@import 'channelList';
@import 'chatView';
@import 'userList';

body {
  margin: 0;
  padding: 0;

  .app {
    display: flex;
    align-items: stretch;
    width: 100vw;
    height: 100vh;
    
    .main {
      display: flex;
      flex-direction: column;
      width: 75vw;

      .nav {
        height: 10vh;
        border-bottom: 2px solid $gray;
        z-index: 1;
        width: 100%;
      }

      .main_view {
        display: flex;
        align-items:stretch;
        height: 90vh;
      }
    }

  }
  .square {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background: $gray;
  }
}