@import '_colors';
@import 'teamList';
@import 'channelList';
@import 'chatView';
@import 'userList';
@import 'loginpage';

body {
  margin: 0;
  padding: 0;

  .app {
    display: flex;
    align-items: stretch;
    width: 100vw;
    height: 100vh;

    .main {
      display: flex;
      flex-direction: column;
      width: 1200px;
      height: auto;

      .nav {
        height: 5vh;
        border-bottom: 2px solid $gray;
        z-index: 1;
        width: auto;
      }

      .main_view {
        display: flex;
        align-items:stretch;
        height: auto;
      }
    }

  }
  .square {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75px;
    height: 50px;
    border-radius: 12px;
    background: $gray;
  }
}