@import '_colors';

.channel_list{
  	background-color: $lightPurple;
  	display: flex;
  	flex-direction: column;
  	color: $lightGray;
  	padding: 10px;;
}

.channel_list ul{
	list-style-type: none;
	width: auto;
}

.channel_list li{
	padding-right: 25px;
}

.channel_list li:hover{
	background-color: $darkPurple;
}