@import '_colors';

.chat_view {
  margin: 5px;
  width: 100%;
  height: 100vh;
  overflow-y:auto;

// .chat_view li {
//   display: flex;
//   flex-direction: column-reverse;
// }

.chat_view ul:last-child {
  padding-bottom: 25px;

  .view {
    height: 100vh;
  }

  .chat_bar {
    position: absolute;
    width: 100%;
    bottom: 0px;

    input {
      border: 3px solid $darkGray;
      border-radius: 15px;
      width: auto;
      height: auto;
    }
  }
}
}