@import '_colors';

.loginpage {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	border: 1px solid black;
	flex-wrap: nowrap;
	height: 100vh;
	width: 100vw;
	font-size: 150%;
	background-color: rgb(249,249,249);
}

.errormsg{
	color: red;
}

.borderdiv{
	border: 5px solid black;
	padding: 20px;
	box-shadow: 10px 10px 5px #888888;
}

.titlediv{
	margin-top: 50px;
	font-weight: bolder;
	font-size: 200%;
}

.formdiv{
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.formdiv button{
	background-color: rgb(62,178,117);
	color: white;
	padding: 15px 32px;
	font-size: 75%;
	border-radius: 5px;
}

.signin {
display: flex;
flex-direction: column;
align-self: center;
padding-left: 25px;
}

.login{
padding-right: 25px;
display: flex;
flex-direction: column;
align-self: center;
margin-bottom: 160px;
}
