@import '_colors';

.users_list {
	margin: 15px;
  	border: 3px solid $darkGray;
  	border-radius: 15px;
  	width: 20vw;
}

.users_list ul{
	margin: 15px;
	text-decoration: none;
	list-style-type: none;
	color: $darkGray;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.users_list h1{
	margin: 15px;
	text-decoration: none;
	color: $darkGray;
}

.users_list p{
	margin: 15px;
	text-decoration: none;
	color: $darkGray;
}

.users_list button{
	margin: 15px;
}